* {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 13.33333333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ea6750;
}
.header img {
  width: 8vw;
  margin-right: 4.26666667vw;
}
.title {
  font-size: 5.33333333vw;
  color: #fff;
  margin-left: 42.66666667vw;
}
.item {
  position: relative;
  height: 13.33333333vw;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.delete {
  position: absolute;
  right: -60px;
  /* 初始完全隐藏（宽度60px，所以偏移-60px） */
  top: 0;
  height: 100%;
  /* 占满高度，点击区域更大 */
  width: 60px;
  /* 固定宽度，明确需要露出的距离 */
  background: #f43;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pic {
  width: 10.66666667vw;
  height: 10.66666667vw;
  background: #ea6750;
  border-radius: 50%;
  margin-left: 8.53333333vw;
}
.name {
  font-size: 4.26666667vw;
  color: #000;
  margin-left: 4.26666667vw;
  margin-right: 8.53333333vw;
}
.footer {
  position: fixed;
  bottom: 0;
  height: 13.33333333vw;
  display: flex;
  align-items: center;
}
.footer input {
  width: 26.66666667vw;
  height: 8vw;
  border: 0.26666667vw solid #ccc;
  border-radius: 1.33333333vw;
  margin-left: 4.26666667vw;
}
.footer button {
  width: 26.66666667vw;
  height: 8vw;
  border: 0.26666667vw solid #ccc;
  border-radius: 1.33333333vw;
  margin-left: 4.26666667vw;
  background: #ea6750;
  color: #fff;
}
.pic {
  font-size: 5.33333333vw;
  color: #fff;
  text-align: center;
  line-height: 10.66666667vw;
}
